.desktop81-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.desktop81-desktop81 {
  width: 100%;
  height: 3538px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(23, 22, 20, 1);
}
 
.desktop81-rectangle1885 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 86px;
  position: absolute;
}
 
.desktop81-rectangle1886 {
  top: 85px;
  left: 0px;
  width: 1440px;
  height: 706px;
  position: absolute;
}
 
.desktop81-rectangle1888 {
  top: 85px;
  left: 0px;
  width: 1440px;
  height: 5px;
  position: absolute;
}
 
.desktop81-rectangle1889 {
  top: 786px;
  left: 0px;
  width: 1440px;
  height: 5px;
  position: absolute;
}
 
.desktop81-rectangle1891 {
  top: 624px;
  left: 142px;
  width: 481px;
  height: 3px;
  position: absolute;
}
 
.desktop81-rectangle1895 {
  top: 594px;
  left: 445px;
  width: 35px;
  height: 3px;
  position: absolute;
}
 
.desktop81-rectangle1896 {
  top: 594px;
  left: 542px;
  width: 35px;
  height: 3px;
  position: absolute;
}
 
.desktop81-rectangle1897 {
  top: 562px;
  left: 577px;
  width: 35px;
  height: 3px;
  position: absolute;
}
 
.desktop81-rectangle1890 {
  top: 627px;
  left: 142px;
  width: 481px;
  height: 299px;
  position: absolute;
}
 
.desktop81-text10 {
  top: 698px;
  left: 184px;
  color: rgba(255, 255, 255, 1);
  width: 358px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop81-text11 {
  top: 1750px;
  left: 39px;
  color: rgba(139, 139, 139, 1);
  width: 388px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Open Sans;
  font-weight: 300;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop81-text12 {
  top: 2477px;
  left: 39px;
  color: rgba(139, 139, 139, 1);
  width: 388px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Open Sans;
  font-weight: 300;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop81-text13 {
  top: 1750px;
  left: 39px;
  color: rgba(139, 139, 139, 1);
  width: 388px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Open Sans;
  font-weight: 300;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop81-text14 {
  top: 2477px;
  left: 39px;
  color: rgba(139, 139, 139, 1);
  width: 388px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Open Sans;
  font-weight: 300;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop81-text15 {
  top: 1750px;
  left: 506px;
  color: rgba(139, 139, 139, 1);
  width: 388px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Open Sans;
  font-weight: 300;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop81-text16 {
  top: 2477px;
  left: 506px;
  color: rgba(139, 139, 139, 1);
  width: 388px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Open Sans;
  font-weight: 300;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop81-text17 {
  top: 1750px;
  left: 973px;
  color: rgba(139, 139, 139, 1);
  width: 388px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Open Sans;
  font-weight: 300;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop81-text18 {
  top: 2477px;
  left: 973px;
  color: rgba(139, 139, 139, 1);
  width: 388px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Open Sans;
  font-weight: 300;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop81-rectangle1892 {
  top: 597px;
  left: 445px;
  width: 35px;
  height: 33px;
  position: absolute;
}
 
.desktop81-rectangle1893 {
  top: 597px;
  left: 542px;
  width: 35px;
  height: 33px;
  position: absolute;
}
 
.desktop81-rectangle1894 {
  top: 564px;
  left: 577px;
  width: 35px;
  height: 33px;
  position: absolute;
}
 
.desktop81-text19 {
  top: 655px;
  left: 184px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Regular;
  text-align: left;
  font-family: Monocraft;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop81-group973 {
  top: 834px;
  left: 184px;
  width: 205px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.desktop81-group9721 {
  top: 0px;
  left: 0px;
  width: 205px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.desktop81-group9701 {
  top: 0px;
  left: 0px;
  width: 205px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(176, 96, 180, 1);
}
 
.desktop81-rectangle18991 {
  top: 5px;
  left: 0px;
  width: 205px;
  height: 42px;
  position: absolute;
}
 
.desktop81-group9711 {
  top: 11px;
  left: 30px;
  width: 149px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.desktop81-text20 {
  top: 1px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Segoe UI;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop81-forward1 {
  top: 0px;
  left: 119px;
  width: 30px;
  height: 30px;
  position: absolute;
}
 
.desktop81-rectangle19001 {
  top: 47px;
  left: 0px;
  width: 205px;
  height: 5px;
  position: absolute;
}
 
.desktop81-text21 {
  top: 1705px;
  left: 39px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Semibold;
  text-align: left;
  font-family: Segoe UI;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop81-text22 {
  top: 2432px;
  left: 39px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Semibold;
  text-align: left;
  font-family: Segoe UI;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop81-text23 {
  top: 1705px;
  left: 506px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 28px;
  font-style: Semibold;
  text-align: left;
  font-family: Segoe UI;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop81-text24 {
  top: 2432px;
  left: 506px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 28px;
  font-style: Semibold;
  text-align: left;
  font-family: Segoe UI;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop81-text25 {
  top: 1705px;
  left: 973px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 28px;
  font-style: Semibold;
  text-align: left;
  font-family: Segoe UI;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop81-text26 {
  top: 2432px;
  left: 973px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 28px;
  font-style: Semibold;
  text-align: left;
  font-family: Segoe UI;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop81-rectangle1901 {
  top: 808px;
  left: 668px;
  width: 214px;
  height: 104px;
  position: absolute;
  border-color: rgba(176, 96, 180, 1);
  border-style: solid;
  border-width: 2px;
}
 
.desktop81-rectangle1902 {
  top: 808px;
  left: 1133px;
  width: 214px;
  height: 104px;
  position: absolute;
}
 
.desktop81-rectangle1904 {
  top: 808px;
  left: 900px;
  width: 214px;
  height: 104px;
  position: absolute;
}
 
.desktop81-text27 {
  top: 1135px;
  left: 357px;
  color: rgba(151, 151, 151, 1);
  width: 727px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop81-text28 {
  top: 1007px;
  left: 279px;
  color: rgba(255, 255, 255, 1);
  width: 883px;
  height: auto;
  position: absolute;
  font-size: 150px;
  font-style: Regular;
  text-align: left;
  font-family: Micro 5;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop81-rectangle1905 {
  top: 1263px;
  left: 39px;
  width: 428px;
  height: 421px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(38, 36, 35, 1);
  border-style: solid;
  border-width: 1px;
}
 
.desktop81-rectangle1911 {
  top: 1990px;
  left: 39px;
  width: 428px;
  height: 421px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(38, 36, 35, 1);
  border-style: solid;
  border-width: 1px;
}
 
.desktop81-rectangle1906 {
  top: 1263px;
  left: 506px;
  width: 428px;
  height: 421px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(38, 36, 35, 1);
  border-style: solid;
  border-width: 1px;
}
 
.desktop81-rectangle1912 {
  top: 1990px;
  left: 506px;
  width: 428px;
  height: 421px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(38, 36, 35, 1);
  border-style: solid;
  border-width: 1px;
}
 
.desktop81-rectangle1907 {
  top: 1263px;
  left: 973px;
  width: 428px;
  height: 421px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(38, 36, 35, 1);
  border-style: solid;
  border-width: 1px;
}
 
.desktop81-rectangle1913 {
  top: 1990px;
  left: 973px;
  width: 428px;
  height: 421px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(38, 36, 35, 1);
  border-style: solid;
  border-width: 1px;
}
 
.desktop81-rectangle1908 {
  top: 1822px;
  left: 39px;
  width: 425px;
  height: 2px;
  position: absolute;
}
 
.desktop81-rectangle1914 {
  top: 2549px;
  left: 39px;
  width: 425px;
  height: 2px;
  position: absolute;
}
 
.desktop81-rectangle1909 {
  top: 1822px;
  left: 506px;
  width: 425px;
  height: 2px;
  position: absolute;
}
 
.desktop81-rectangle1915 {
  top: 2549px;
  left: 506px;
  width: 425px;
  height: 2px;
  position: absolute;
}
 
.desktop81-rectangle1910 {
  top: 1822px;
  left: 973px;
  width: 425px;
  height: 2px;
  position: absolute;
}
 
.desktop81-rectangle1916 {
  top: 2549px;
  left: 973px;
  width: 425px;
  height: 2px;
  position: absolute;
}
 
.desktop81-group9761 {
  top: 1836px;
  left: 39px;
  width: 205px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.desktop81-group9722 {
  top: 0px;
  left: 0px;
  width: 205px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.desktop81-group9702 {
  top: 0px;
  left: 0px;
  width: 205px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(176, 96, 180, 1);
}
 
.desktop81-rectangle18992 {
  top: 5px;
  left: 0px;
  width: 205px;
  height: 42px;
  position: absolute;
}
 
.desktop81-group9712 {
  top: 11px;
  left: 37px;
  width: 142px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.desktop81-text29 {
  top: 1px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Segoe UI;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop81-forward2 {
  top: 0px;
  left: 112px;
  width: 30px;
  height: 30px;
  position: absolute;
}
 
.desktop81-rectangle19002 {
  top: 47px;
  left: 0px;
  width: 205px;
  height: 5px;
  position: absolute;
}
 
.desktop81-group992 {
  top: 2563px;
  left: 39px;
  width: 205px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.desktop81-group9723 {
  top: 0px;
  left: 0px;
  width: 205px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.desktop81-group9703 {
  top: 0px;
  left: 0px;
  width: 205px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(176, 96, 180, 1);
}
 
.desktop81-rectangle18993 {
  top: 5px;
  left: 0px;
  width: 205px;
  height: 42px;
  position: absolute;
}
 
.desktop81-group9713 {
  top: 11px;
  left: 37px;
  width: 142px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.desktop81-text30 {
  top: 1px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Segoe UI;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop81-forward3 {
  top: 0px;
  left: 112px;
  width: 30px;
  height: 30px;
  position: absolute;
}
 
.desktop81-rectangle19003 {
  top: 47px;
  left: 0px;
  width: 205px;
  height: 5px;
  position: absolute;
}
 
.desktop81-group9801 {
  top: 1844px;
  left: 368px;
  width: 99px;
  height: 35px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(38, 36, 35, 0.6000000238418579);
}
 
.desktop81-group9791 {
  top: 2px;
  left: 13px;
  width: 77px;
  height: 31px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.desktop81-text31 {
  left: 32px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Regular;
  text-align: left;
  font-family: Monocraft;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop81-dollar-coin1 {
  top: 5px;
  left: 0px;
  width: 25px;
  height: 25px;
  position: absolute;
}
 
.desktop81-group993 {
  top: 2571px;
  left: 368px;
  width: 99px;
  height: 35px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(38, 36, 35, 0.6000000238418579);
}
 
.desktop81-group9792 {
  top: 2px;
  left: 13px;
  width: 77px;
  height: 31px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.desktop81-text32 {
  left: 32px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Regular;
  text-align: left;
  font-family: Monocraft;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop81-dollar-coin2 {
  top: 5px;
  left: 0px;
  width: 25px;
  height: 25px;
  position: absolute;
}
 
.desktop81-group985 {
  top: 1836px;
  left: 506px;
  width: 428px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.desktop81-group9762 {
  top: 0px;
  left: 0px;
  width: 205px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.desktop81-group9724 {
  top: 0px;
  left: 0px;
  width: 205px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.desktop81-group9704 {
  top: 0px;
  left: 0px;
  width: 205px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(176, 96, 180, 1);
}
 
.desktop81-rectangle18994 {
  top: 5px;
  left: 0px;
  width: 205px;
  height: 42px;
  position: absolute;
}
 
.desktop81-group9714 {
  top: 11px;
  left: 37px;
  width: 142px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.desktop81-text33 {
  top: 1px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Segoe UI;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop81-forward4 {
  top: 0px;
  left: 112px;
  width: 30px;
  height: 30px;
  position: absolute;
}
 
.desktop81-rectangle19004 {
  top: 47px;
  left: 0px;
  width: 205px;
  height: 5px;
  position: absolute;
}
 
.desktop81-group9802 {
  top: 8px;
  left: 329px;
  width: 99px;
  height: 35px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(38, 36, 35, 0.6000000238418579);
}
 
.desktop81-group9793 {
  top: 2px;
  left: 13px;
  width: 77px;
  height: 31px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.desktop81-text34 {
  left: 32px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Regular;
  text-align: left;
  font-family: Monocraft;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop81-dollar-coin3 {
  top: 5px;
  left: 0px;
  width: 25px;
  height: 25px;
  position: absolute;
}
 
.desktop81-group994 {
  top: 2563px;
  left: 506px;
  width: 428px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.desktop81-group9763 {
  top: 0px;
  left: 0px;
  width: 205px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.desktop81-group9725 {
  top: 0px;
  left: 0px;
  width: 205px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.desktop81-group9705 {
  top: 0px;
  left: 0px;
  width: 205px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(176, 96, 180, 1);
}
 
.desktop81-rectangle18995 {
  top: 5px;
  left: 0px;
  width: 205px;
  height: 42px;
  position: absolute;
}
 
.desktop81-group9715 {
  top: 11px;
  left: 37px;
  width: 142px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.desktop81-text35 {
  top: 1px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Segoe UI;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop81-forward5 {
  top: 0px;
  left: 112px;
  width: 30px;
  height: 30px;
  position: absolute;
}
 
.desktop81-rectangle19005 {
  top: 47px;
  left: 0px;
  width: 205px;
  height: 5px;
  position: absolute;
}
 
.desktop81-group9803 {
  top: 8px;
  left: 329px;
  width: 99px;
  height: 35px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(38, 36, 35, 0.6000000238418579);
}
 
.desktop81-group9794 {
  top: 2px;
  left: 13px;
  width: 77px;
  height: 31px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.desktop81-text36 {
  left: 32px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Regular;
  text-align: left;
  font-family: Monocraft;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop81-dollar-coin4 {
  top: 5px;
  left: 0px;
  width: 25px;
  height: 25px;
  position: absolute;
}
 
.desktop81-group986 {
  top: 1836px;
  left: 973px;
  width: 428px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.desktop81-group9764 {
  top: 0px;
  left: 0px;
  width: 205px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.desktop81-group9726 {
  top: 0px;
  left: 0px;
  width: 205px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.desktop81-group9706 {
  top: 0px;
  left: 0px;
  width: 205px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(176, 96, 180, 1);
}
 
.desktop81-rectangle18996 {
  top: 5px;
  left: 0px;
  width: 205px;
  height: 42px;
  position: absolute;
}
 
.desktop81-group9716 {
  top: 11px;
  left: 37px;
  width: 142px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.desktop81-text37 {
  top: 1px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Segoe UI;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop81-forward6 {
  top: 0px;
  left: 112px;
  width: 30px;
  height: 30px;
  position: absolute;
}
 
.desktop81-rectangle19006 {
  top: 47px;
  left: 0px;
  width: 205px;
  height: 5px;
  position: absolute;
}
 
.desktop81-group9804 {
  top: 8px;
  left: 329px;
  width: 99px;
  height: 35px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(38, 36, 35, 0.6000000238418579);
}
 
.desktop81-group9795 {
  top: 2px;
  left: 13px;
  width: 77px;
  height: 31px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.desktop81-text38 {
  left: 32px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Regular;
  text-align: left;
  font-family: Monocraft;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop81-dollar-coin5 {
  top: 5px;
  left: 0px;
  width: 25px;
  height: 25px;
  position: absolute;
}
 
.desktop81-group995 {
  top: 2563px;
  left: 973px;
  width: 428px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.desktop81-group9765 {
  top: 0px;
  left: 0px;
  width: 205px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.desktop81-group9727 {
  top: 0px;
  left: 0px;
  width: 205px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.desktop81-group9707 {
  top: 0px;
  left: 0px;
  width: 205px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(176, 96, 180, 1);
}
 
.desktop81-rectangle18997 {
  top: 5px;
  left: 0px;
  width: 205px;
  height: 42px;
  position: absolute;
}
 
.desktop81-group9717 {
  top: 11px;
  left: 37px;
  width: 142px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.desktop81-text39 {
  top: 1px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Segoe UI;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop81-forward7 {
  top: 0px;
  left: 112px;
  width: 30px;
  height: 30px;
  position: absolute;
}
 
.desktop81-rectangle19007 {
  top: 47px;
  left: 0px;
  width: 205px;
  height: 5px;
  position: absolute;
}
 
.desktop81-group9805 {
  top: 8px;
  left: 329px;
  width: 99px;
  height: 35px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(38, 36, 35, 0.6000000238418579);
}
 
.desktop81-group9796 {
  top: 2px;
  left: 13px;
  width: 77px;
  height: 31px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.desktop81-text40 {
  left: 32px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Regular;
  text-align: left;
  font-family: Monocraft;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop81-dollar-coin6 {
  top: 5px;
  left: 0px;
  width: 25px;
  height: 25px;
  position: absolute;
}
 
.desktop81-group9841 {
  top: 842px;
  left: 421px;
  width: 133px;
  height: 35px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.desktop81-discord-new1 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  position: absolute;
}
 
.desktop81-tik-tok1 {
  top: 0px;
  left: 49px;
  width: 35px;
  height: 35px;
  position: absolute;
}
 
.desktop81-instagram1 {
  top: 0px;
  left: 98px;
  width: 35px;
  height: 35px;
  position: absolute;
}
 
.desktop81-group991 {
  top: 2717px;
  left: 0px;
  width: 1440px;
  height: 482px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(38, 36, 35, 1);
}
 
.desktop81-text41 {
  top: 191px;
  left: 50px;
  color: rgba(255, 255, 255, 1);
  width: 388px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop81-group981 {
  top: 291px;
  left: 50px;
  width: 306px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.desktop81-group9728 {
  top: 0px;
  left: 0px;
  width: 306px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.desktop81-group9708 {
  top: 0px;
  left: 0px;
  width: 306px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 217, 83, 1);
}
 
.desktop81-rectangle18998 {
  top: 5px;
  left: 0px;
  width: 306px;
  height: 42px;
  position: absolute;
}
 
.desktop81-group9718 {
  top: 12px;
  left: 91px;
  width: 125px;
  height: 27px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.desktop81-text42 {
  color: rgba(0, 0, 0, 1);
  width: 125px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Segoe UI;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop81-rectangle19008 {
  top: 47px;
  left: 0px;
  width: 306px;
  height: 5px;
  position: absolute;
}
 
.desktop81-rectangle1919 {
  top: 84px;
  left: 655px;
  width: 756px;
  height: 325px;
  position: absolute;
  border-color: rgba(255, 198, 47, 1);
  border-style: solid;
  border-width: 2px;
}
 
.desktop81-frame2 {
  top: 3199px;
  left: 0px;
  width: 1440px;
  height: 336px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(38, 37, 35, 1);
}
 
.desktop81-menu {
  top: 105.68568420410156px;
  left: 445px;
  width: 674px;
  height: 23.928783416748047px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.desktop81-text43 {
  top: -0.00008678436279296875px;
  color: var(--dl-color-gray-100);
  width: 674px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 24px;
}
 
.desktop81-line63 {
  top: 236.29673767089844px;
  left: 136.80078125px;
  width: 1166px;
  height: 1px;
  position: absolute;
}
 
.desktop81-text44 {
  top: 275.1809997558594px;
  left: 566.1015625px;
  color: var(--dl-color-blue-gray-300);
  width: 309px;
  height: auto;
  position: absolute;
  text-align: center;
  line-height: 22px;
}
 
.desktop81-group9842 {
  top: 100px;
  left: 1170px;
  width: 133px;
  height: 35px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.desktop81-discord-new2 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  position: absolute;
}
 
.desktop81-tik-tok2 {
  top: 0px;
  left: 49px;
  width: 35px;
  height: 35px;
  position: absolute;
}
 
.desktop81-instagram2 {
  top: 0px;
  left: 98px;
  width: 35px;
  height: 35px;
  position: absolute;
}
 
.desktop81-yaki-sova-kirby033 {
  top: 3267px;
  left: 137px;
  width: 206px;
  height: 76px;
  position: absolute;
}
 
.desktop81-group996 {
  top: 23px;
  left: 113px;
  width: 1210px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.desktop81-group968 {
  top: 8px;
  left: 315px;
  width: 585px;
  height: 23px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.desktop81-frame930 {
  gap: 48px;
  top: 0px;
  left: 0px;
  width: 585px;
  height: 23px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}
 
.desktop81-frame966 {
  gap: 90px;
  top: 0px;
  left: 0px;
  width: 332px;
  display: flex;
  position: absolute;
  align-items: center;
}
 
.desktop81-group967 {
  top: 0px;
  left: 50px;
  width: 522px;
  height: 23px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.desktop81-text45 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Bold;
  text-align: left;
  font-family: Segoe UI;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop81-text46 {
  left: 137px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Bold;
  text-align: left;
  font-family: Segoe UI;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop81-text47 {
  left: 279px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Bold;
  text-align: left;
  font-family: Segoe UI;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop81-group966 {
  top: 0px;
  left: 422px;
  width: 100px;
  height: 23px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.desktop81-text48 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Bold;
  text-align: left;
  font-family: Segoe UI;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop81-expand-arrow {
  top: 2px;
  left: 80px;
  width: 20px;
  height: 20px;
  position: absolute;
}
 
.desktop81-group969 {
  top: 0px;
  left: 1045px;
  width: 165px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 217, 217, 0);
}
 
.desktop81-text49 {
  top: 9.565216064453125px;
  left: 25px;
  color: rgba(176, 96, 180, 1);
  width: 88px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Segoe UI;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop81-forward8 {
  top: 9px;
  left: 1161px;
  width: 25px;
  height: 25px;
  position: absolute;
}
 
.desktop81-yaki-sova-kirby01 {
  top: 4px;
  left: 0px;
  width: 182px;
  height: 32px;
  position: absolute;
}
 
.desktop81-link {
  display: contents;
}
 
.desktop81-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.desktop81-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.desktop81-text50 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
